---
import { format } from "date-fns"

import Layout from "@/layouts/Layout.astro"
import { getPosts } from "@/utils"

const posts = await getPosts()
---

<Layout title="News">
  <ol>
    {
      posts.map((post) => (
        <li id={post.id}>
          <p class="post-date">
            <time datetime={post.data.date.toISOString()}>
              {format(post.data.date, "d MMMM yyyy")}
            </time>
          </p>
          <a href={`/news/${post.id}`}>{post.data.title}</a>
          <p>{post.data.excerpt}</p>
        </li>
      ))
    }
  </ol>
</Layout>

<style>
  ol {
    list-style: none;
    padding: 0;
    margin-left: 0;
  }

  li {
    padding-left: 0;
    margin-bottom: 1.25rem;
    line-height: 1.5;

    a {
      font-size: 22px;
      font-weight: 600;

      &:not(:hover) {
        text-decoration-line: none;
      }
    }
  }

  .post-date {
    margin: 0;
  }
</style>
