---
import Menu from "../components/Menu.astro"
import "./Layout.scss"

export interface Props {
  title: string
  description?: string
}

const siteTitle = "musicmusic’s foobar2000 stuff"
const siteDescription =
  "Components for the foobar2000 audio player – including Columns UI and iPod manager"
const siteAuthor = "musicmusic"
const { title, description } = Astro.props

const computedDescription = description || siteDescription
const computedTitle =
  title && title !== siteTitle ? `${title} – ${siteTitle}` : siteTitle
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{computedTitle}</title>
    <meta name="description" content={computedDescription} />
    <meta name="og:title" content={computedTitle} />
    <meta name="og:site_name" content={siteTitle} />
    <meta name="og:description" content={computedDescription} />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content={siteAuthor} />
    <meta name="twitter:title" content={computedTitle} />
    <meta name="twitter:description" content={computedDescription} />
  </head>
  <body>
    <section class="section">
      <div class="container">
        <main class="columns is-4">
          <aside class="column is-narrow">
            <Menu />
          </aside>
          <div class="column content">
            {title && <h1 class="title is-2">{title}</h1>}
            <slot />
          </div>
        </main>
      </div>
    </section>
  </body>
</html>
