---
import Menu from "../components/Menu.astro"
import "./font-awesome.scss"
import "./globals.pcss"

export interface Props {
  title: string
  description?: string
}

const siteTitle = "musicmusic’s foobar2000 stuff"
const siteDescription =
  "Components for the foobar2000 audio player – including Columns UI and iPod manager"
const siteAuthor = "musicmusic"
const { title, description } = Astro.props

const computedDescription = description || siteDescription
const computedTitle =
  title && title !== siteTitle ? `${title} – ${siteTitle}` : siteTitle
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="64x64" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" sizes="any" />
    <meta name="generator" content={Astro.generator} />
    <title>{computedTitle}</title>
    <meta name="description" content={computedDescription} />
    <meta name="og:title" content={computedTitle} />
    <meta name="og:site_name" content={siteTitle} />
    <meta name="og:description" content={computedDescription} />
    <meta name="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content={siteAuthor} />
    <meta name="twitter:title" content={computedTitle} />
    <meta name="twitter:description" content={computedDescription} />
  </head>
  <body>
    <main>
      <div class="menu section">
        <Menu />
      </div>
      <div class="content section">
        {title && <h1>{title}</h1>}
        <slot />
      </div>
    </main>
  </body>
</html>

<style>
  main {
    display: block;
    max-width: var(--max-body-width);
    margin: 0 auto;
  }

  .section {
    padding: 1.5rem 1rem 1.5rem;
  }

  .content.section {
    padding-top: 0;
  }

  @media (min-width: 600px) {
    main {
      display: grid;
      grid-template-columns: fit-content(200px) 1fr;
    }

    .section,
    .content.section {
      padding: 3rem 1rem 2rem;
    }

    .menu.section {
      padding-top: 3.5rem;
    }
  }
</style>
